absl-py==0.2.2
appnope==0.1.0
autograd==1.1.2
backports.weakref==1.0.post1
bleach==1.5.0
cycler==0.10.0
decorator==4.0.11
dill==0.2.8.2
entrypoints==0.2.2
environment-kernels==1.0
future==0.16.0
gym==0.8.1
h5py==2.8.0
html5lib==0.9999999
ipykernel==4.5.2
ipython==5.3.0
ipython-genutils==0.1.0
ipywidgets==6.0.0
Jinja2==2.9.5
jsonschema==2.5.1
jupyter==1.0.0
jupyter-client==5.0.0
jupyter-console==5.1.0
jupyter-core==4.3.0
Keras==2.1.6
line-profiler==2.0
Markdown==2.6.11
MarkupSafe==0.23
matplotlib==2.0.0
mistune==0.7.4
mock==2.0.0
nbconvert==5.1.1
nbformat==4.3.0
networkx==1.11
notebook==4.4.1
numpy==1.15.4
olefile==0.44
pandas==0.20.1
pandocfilters==1.4.1
pbr==1.10.0
pexpect==4.2.1
pickleshare==0.7.4
Pillow==4.4.0
progressbar2==3.16.0
prompt-toolkit==1.0.13
protobuf==3.4.0
ptyprocess==0.5.1
pyglet==1.2.4
Pygments==2.2.0
pygpu==0.7.6
pyparsing==2.2.0
python-dateutil==2.6.0
python-utils==2.0.1
pytz==2016.10
PyYAML==3.12
pyzmq==16.0.2
qtconsole==4.2.1
requests==2.13.0
scikit-image==0.12.3
scikit-learn==0.18.1
scipy==0.19.1
seaborn==0.7.1
simplegeneric==0.8.1
six==1.11.0
tensorflow==1.5.1
tensorflow-tensorboard==1.5.1
terminado==0.6
testpath==0.3
Theano==1.0.2
tornado==4.4.2
tqdm==4.11.2
traitlets==4.3.2
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.12.2
widgetsnbextension==2.0.0
